/*Header*/
nav {
  background-color: #ecb4b4;
}

.gap {
  gap: 0.7rem;
}

.imagen-header {
  width: 25%;
}

.transform:hover {
  transform: scale(1.2);
  transition: 0.2s;
  color: rgba(127, 27, 27, 0.523) !important;
}

/*Main Inicio*/
.seccion-h1 {
  margin-top: 4rem;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.div-inicio {
  margin-top: 0.5rem;
  height: 450px;
  padding: 0 2rem;
}

.div-main-h2p {
  padding-left: 1rem;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  font-weight: 700;
}
.div-main-h2p h2 {
  font-size: 3.5rem;
}
.div-main-h2p p {
  font-size: 2rem;
}
.div-main-h2p a {
  list-style: none;
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: #ecb4b4;
  border-radius: 5px;
  padding: 0.3rem;
}

.colordiv {
  background-color: rgba(126, 77, 65, 0.689);
}

/*Main Catalogo*/
.card, .servicios .div-form, .servicios .div-section-servicios1,
.servicios .div-section-servicios2 {
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
  background-color: rgba(189, 216, 243, 0.3098039216);
  height: 550px;
  width: 300px;
  align-items: center;
}

.card img, .servicios .div-form img, .servicios .div-section-servicios1 img,
.servicios .div-section-servicios2 img {
  width: 90%;
  border-radius: 15px;
}

.card p, .servicios .div-form p, .servicios .div-section-servicios1 p,
.servicios .div-section-servicios2 p {
  width: 100%;
  padding: 0 10px;
  margin-top: 1rem;
}

.card .btn-base, .card .servicios button, .servicios .card button, .servicios .div-form .btn-base, .servicios .div-form button, .servicios .div-section-servicios1 .btn-base, .servicios .div-section-servicios1 button,
.servicios .div-section-servicios2 .btn-base,
.servicios .div-section-servicios2 button {
  border-radius: 5px;
  background-color: #ecb4b4;
  font-weight: 700;
  color: #fff;
  text-shadow: 1px 1px 3px black;
  width: 100px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.div-section-button {
  cursor: pointer;
  background-color: rgb(245, 226, 212);
  border: 0.1px solid rgba(0, 0, 0, 0.728) !important;
}
.div-section-button:hover {
  transition: 0.2s;
  transform: scale(1.2);
  color: rgba(0, 0, 0, 0.616);
  background-color: rgb(245, 226, 212);
}

/*Main servicios*/
.servicios img {
  margin: 0 auto;
  margin-top: 3.7rem;
  max-width: 90%;
  height: 450px;
}
.servicios .div-section-servicios {
  margin-top: 0.5rem;
  font-weight: 700;
}
.servicios .div-section-servicios1,
.servicios .div-section-servicios2 {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 50%;
  height: auto;
}
.servicios .div-form {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 0.5rem;
  font-weight: 700;
  width: 50%;
  height: auto;
  gap: 2px;
}
/*Main Nosotros*/
main .h1-nosotros {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 11rem;
  font-weight: 700;
}
main .separacion {
  display: flex;
  max-width: 100%;
  margin: 0 auto;
}
main .nuetra-historia {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}
main .nuestra-mision, main .nuestra-vision {
  display: flex;
  align-items: flex-start;
  margin-top: 40px;
  max-width: 100%;
}
main div h3 {
  position: relative;
  padding-left: 10px;
}
main div h3::after {
  background-color: #f88c91;
  content: "";
  position: absolute;
  bottom: -10px;
  left: 10px;
  width: 30px;
  height: 2px;
}
main div p {
  font-weight: 700;
}
main .nuestra-mision img {
  height: 70px;
}

/*Footer*/
footer {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  padding: rem;
  height: 1rem;
}
footer .imagen-footer {
  height: 2rem;
  text-align: center;
  align-items: center;
  margin-bottom: 1.3rem;
}

@media only screen and (max-width: 575px) {
  .flexmedia {
    flex-direction: column !important;
    width: 100% !important;
  }
  .flexmedia img {
    margin: 0.5rem 0 0 0 !important;
    width: 100% !important;
  }
  .flexmedia div {
    width: 100% !important;
  }
  /*Media Catalogo*/
  .card, .servicios .div-section-servicios1,
  .servicios .div-section-servicios2, .servicios .div-form {
    margin: 0 auto !important;
  }
  /*Media Servicios*/
  .servicios img {
    margin-top: 3.7rem;
  }
  .div-section-servicios {
    flex-direction: column;
    margin-top: 0.5rem;
  }
  .div-section-servicios1,
  .div-section-servicios2,
  .div-form {
    width: 100% !important;
    margin-top: 0.5rem;
  }
  /*Media Nosotros*/
  main .nuetra-historia {
    margin-top: 1rem !important;
    margin: 0 auto;
  }
  main .flexs {
    flex-direction: column;
  }
  main .flexs div img {
    max-width: 100%;
  }
}
@media only screen and (min-width: 576px) and (max-width: 989px) {
  .div-inicio img {
    height: 450px;
  }
  .flexmedia {
    flex-direction: column !important;
    width: 100% !important;
  }
  .flexmedia img {
    width: 100% !important;
  }
  .flexmedia div {
    width: 100% !important;
  }
  .seccion-h1 {
    margin-top: 6rem;
  }
  /*Media Servicios*/
  .servicios img {
    margin-top: 11vw;
  }
  /*Medias Nosotros*/
  .flexs {
    flex-direction: column;
  }
  .container .div-div-nosotros {
    max-width: 100%;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 990px) {
  .gap {
    gap: 7rem;
  }
  .seccion-h1 {
    margin-top: 9vw;
  }
  .font-h2 {
    font-size: 3rem;
  }
  .font-p {
    font-size: 1.5rem;
  }
  /*Media Servicios*/
  .servicios img {
    margin-top: 8.9vw;
  }
}
/*Estilos Generales*/
body {
  background-color: #f8f9fa;
  font-family: "Libertinus Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  height: 100%;
}

footer {
  margin-top: 3rem;
}

/*# sourceMappingURL=style.css.map */




